echo "#######################################"
echo "# Creating wordpress database and user #"
echo "#######################################"

echo "CREATE DATABASE IF NOT EXISTS ncdb;
CREATE USER ncusr IDENTIFIED BY '${NEXTCLOUD_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ncdb.* TO ncusr;
FLUSH PRIVILEGES;
SHOW GRANTS FOR ncusr;" | docker exec -i mariadb mariadb --user root -p${MYSQL_ROOT_PASSWORD}
